<script src="https://unpkg.com/vue"></script>

<div id="desafio">
  <!-- 1) Ligue o botão para alternar a exibição dos dois
    parágrafos. Use ambos v-if e v-show e inspecione os elementos
    para ver a diferença -->
  <h2>#01</h2>
  <div>
    <button @click="exibirPrioridade = !exibirPrioridade">{{ textoBotao }}</button>
    <p v-if="exibirPrioridade">Você quer me ver ...</p>
    <p v-else>...ou eu</p>
    <hr />
    <p v-show="exibirPrioridade">Você quer me ver ...</p>
    <p v-show="!exibirPrioridade">...ou eu</p>
  </div>

  <!-- 2) Exiba em uma <ul> um array de elementos da sua escolha.
    Imprima também o índice de cada elemento. -->
  <h2>#02</h2>
  <ul>
    <li v-for="(item,i) in array">
      {{ i }}. {{ item }}
    </li>
  </ul>
  
  <!-- 3) Imprimir todos os pares de valor-chave do objeto a seguir:
    {
			titulo: 'O Senhor dos Anéis',
			autor: 'J.R.R. Tolkiens',
			volume: '3'
		}
    Imprima também o índice de cada item. -->
  <h2>#03</h2>
  <ul>
    <li v-for="(livro,item) in livros">
      <span>{{ item + 1 }})</span>
      <div v-for="(item,i) in livro">
        <strong>{{ i }}:</strong> {{ item }}
      </div>
    </li>
  </ul>
  
  <!-- 4) Imprima o seguinte objeto (somente os valores) e
    também crie um loop aninhado para o array:
    {
			id: 10,
			nome: 'Maria',
			notas: [7.67, 8.33, 6.98, 9.21]
		}
    (dica: use v-for e v-if na resolução) -->
  <h2>#04</h2>
  <ul>
    <li v-for="(item,i) in aluno">
      <template v-if="!Array.isArray(item)">
        {{ i }} - {{ item }}
      </template>
      <template v-else>
        Notas: 
        <ul>
          <li v-for="nota in item">{{ nota }}</li>
        </ul>
      </template>
    </li>
  </ul>
</div>
<script src="app.js"></script>
