#efeito {
	width: 100px;
	height: 100px;
	border: 1px solid black;
}

.destaque {
	background-color: red;
	width: 200px !important;
}

.encolher {
	background-color: gray;
	width: 250px !important;
}

.aplicarCSS {
	width: 800px !important;
	height: 150px !important;
}

.c1 {
	margin: 0 auto;
	width: 80px;
	height: 40px;
	border-radius: 5px;
	background-color: purple;
	border: 2px solid black;
}

.c2 {
	margin: 0 auto;
	width: 80px;
	height: 40px;
	border-radius: 5px;
	background-color: orange;
	border: 2px solid black;
}

.c3 {
	margin: 0 auto;
	width: 80px;
	height: 40px;
	border-radius: 5px;
	background-color: greenyellow;
	border: 2px solid green;
}

.borda-barra {
	width: 800px;
	height: 40px;
	border: 2px solid black;
}

.progresso {
	background-color: red;
	height: 40px;
}